.text-paragraphs {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: antiquewhite;
    color: black;
    font-size: 14px;
    width: 680px;
    height: 400px;
    line-height: normal;
    text-indent: 1em;
    font-weight: lighter;
    padding: 10px;
}

.text-header {
    font-weight: lighter;
    width: 600px;
    text-indent: 1px;
}

.text-label {
    color: black;
    font-size: 14px;
    text-indent: 10px;
}

.text-info {
    font-size: 14px;
    color: steelblue;
    line-height: 200%;
}




